* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    top: 0;
    position: relative;
}

header h3 {
    position: inline-bock;
    float: right;
    font-size: 30px;
}

section {
    width: 100%;
    margin: 150px 35px 25px 35px;
    position: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    font-size: 20px;;
}

.section-style {
    color: black;
}

.start-test {
    padding: 5px 10px;
    font-size: 15px;
    background-color: purple;
    color: white;
    border-radius: 25%;
}

 .start-test:hover {
    opacity: 0.5;
 }

 .view-highscores {
    font-size: 25px;
    border: none;
    border-style: none;
    background-color: white;
 }

 .view-highscores:hover {
     opacity: 0.5;
 }
    

 /* Need to make this javascript instead
 .options {
    padding: 5px 10px;
    font-size: 15px;
    background-color: purple;
    color: white;
    border-radius: 25%;
 }

 .options:hover {
    background-color: plum;
 }
 */